#container {
  margin: auto;
  height: 700px;
  width: 500px;
  border: 5px solid black;
}
#name {
  height: 47px;
  width: 500px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 8px solid maroon;
}
#title {
  height: 52px;
  width: 500px;
  border-bottom: 8px solid maroon;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
#icon1 {
  height: 55px;
  width: 80px;
  float: left;
  border-right: 5px solid maroon;
}
#t-name {
  height: 55px;
  width: 320px;
  float: left;
  border-right: 5px solid maroon;
}
#menu {
  height: 52px;
  width: 500px;
  border-bottom: 8px solid maroon;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
#slider {
  height: 172px;
  width: 480px;
  border-bottom: 8px solid maroon;
  font-size: 40px;
  font-weight: bold;
  padding: 20px 0px 0px 20px;
}
#main-sec {
  height: 172px;
  width: 480px;
  border-bottom: 8px solid blue;
  text-align: right;
  font-size: 40px;
  font-weight: bold;
  padding: 20px 20px 0px 0px;
}
#blank {
  height: 52px;
  width: 500px;
  border-bottom: 8px solid maroon;
}
#footer {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
