
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<h2>About</h2>

<p>
    This is my About page .This is my About page .This is my About page .This is my About page .This is my About page .This is my About page .
</p>