
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Site.cshtml";
}


<h2>Contact</h2>

<p>
    This is my Contact page .This is my Contact page .This is my Contact page .This is my Contact page .This is my Contact page .This is my Contact page .
</p>