
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Site.cshtml";
}

<h2>Home</h2>
<p class="lead">
    This is my home page .This is my home page .This is my home page .This is my home page .This is my home page .
</p>
<p class="h6">
    this is demo in html
</p>
