#box {
  height: 400px;
  width: 300px;
}
#row1 {
  height: 95px;
  width: 300px;
}
#row2 {
  height: 95px;
  width: 300px;
}
#row3 {
  height: 95px;
  width: 300px;
}
#row4 {
  height: 100px;
  width: 300px;
}
.col {
  height: 90px;
  width: 90px;
  float: left;
  border: 5px solid black;
}
