
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<main class="main-content-wrapper">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row mb-8">
            <div class="col-md-12">
                <div class="d-md-flex justify-content-between align-items-center">
                    <!-- page header -->
                    <div>
                        <h2>Add New Product Type</h2>
                        <!-- breacrumb -->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="#" class="text-inherit">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-inherit">Products</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add New Product</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- button -->
                    <div>
                        <a href="products.html" class="btn btn-light">Back to Product</a>
                    </div>
                </div>

            </div>
        </div>
        <!-- row -->
        <div class="row">

            <div class="col-lg-12 col-12">
                <!-- card -->
                <div class="card mb-6 card-lg border border-light-success">
                    <!-- card body -->
                    <div class="card-body p-6 ">
                        <h4 class="mb-4 h5">Product Information</h4>
                        <div class="row">
                            <!-- input -->
                            <div class="mb-3 col-lg-12">
                                <label class="form-label">Title</label>
                                <input type="text" class="form-control" id="productTxt" placeholder="Product Name" required>
                            </div>
                            <!-- input -->
                            <div class="text-center">
                                <input type="button" value="Create Product" class="btn btn-primary" id="btnProduct" />
                                <input type="button" value="Reset" class="btn btn-outline-danger" id="btnReset" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="card mb-6 card-lg border border-light-success">
                    <div class="card-body p-6 ">
                    <h5 class="mb-4">Product List</h5>
                    <table class="table table-borderless">
                        <tr class="border-bottom">
                            <th>Id</th>
                            <th>Name</th>
                            <th>Add Date</th>
                            <th>Action</th>
                        </tr>
                        <tbody id="porductList">
                        </tbody>
                    </table>
                </div>
                    </div>
                </div>
            </div>
    </div>
    <script src="~/Scripts/libs/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            bindtype();
        })
        $('#btnProduct').click(function () {
            var productName = $('#productTxt').val();
            $.ajax({
                type: "post",
                url: "/Admin/AddProductName",
                data: { Name: productName },
                success: function (data) {
                    bindtype();
                }
            })
        })

    </script>
    <script>
        function bindtype() {
            $.ajax({
                type: 'post',
                url: '/Admin/BindProTypeLst',
                success: function (data) {
                    $('#porductList').html('');
                    $.each(data, function (i, item) {
                        var tr = '<tr><td>' + i + '</td><td>' + item.Name + '</td><td>' + item.Crd + '</td><td>Edit/Delete</td></tr>'+'<hr/>';
                        $('#porductList').append(tr);
                    })
                }
            })
        }
    </script>
</main>


