h1 {
  text-align: center;
  color: blue;
}
#container {
  margin: 100px auto;
  height: 300px;
  width: 300px;
  border: 5px solid black;
  position: relative;
}
#cube {
  height: 300px;
  width: 300px;
  border: 3px solid red;
  position: absolute;
}
#front {
  height: 100px;
  width: 100px;
  background: #333;
  position: absolute;
  transform: translate(300px);

  transform: rotateX(45deg);
}
#right {
  height: 100px;
  width: 100px;
  background: rebeccapurple;
  position: absolute;
  transform: rotateY(45deg);
}
#back {
  height: 100px;
  width: 100px;
  background: royalblue;
  position: absolute;
  transform: rotateZ(45deg);
}
#left {
  height: 100px;
  width: 100px;
  background: aqua;
  position: absolute;
  transform: rotateX(-45deg);
}
#top {
  height: 100px;
  width: 100px;
  background: orange;
  position: absolute;
  transform: rotateY(-45deg);
}
#bottom {
  height: 100px;
  width: 100px;
  background: gray;
  position: absolute;
  /* transform-style: preserve-3d; */
  transform: rotateZ(-45deg);
}
