#box {
  margin: 20% auto;
  height: 400px;
  width: 400px;
  border: 2px solid black;
}
#back {
  margin: 50px;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  position: absolute;
}
#front {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  position: absolute;
}

hr {
  height: 100px;
  background: red;
  margin-top: 80px;
  border: 2px solid black;
  transform: rotateZ(90deg);
}
