
@{
    ViewBag.Title = "Billing";
    Layout = "~/Views/Shared/SallerMaster.cshtml";
}

<div class="container">
    <div class="card m-4">
        <div class="card-body">
            <div class="h2 text-center m-1">------------------   Billing Info   --------------------</div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <p class="h6 text-center">Lorem  type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row">
                <div class=" col-sm-2"></div>
                <div class=" col-sm-8">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card">
                                <div class=" card-body">
                                    <center>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-credit-card text-success " viewBox="0 0 16 16">
                                            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
                                            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
                                        </svg>
                                    </center>
                                    <h6 class="text-center text-dark mt-1">Credit Card</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class=" card-body">
                                    <center>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-gift text-success " viewBox="0 0 16 16">
                                            <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z" />
                                        </svg>
                                    </center>
                                    <h6 class="text-center text-dark mt-1">Gift Card</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class=" card-body">
                                    <center>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-paypal text-primary" viewBox="0 0 16 16">
                                            <path d="M14.06 3.713c.12-1.071-.093-1.832-.702-2.526C12.628.356 11.312 0 9.626 0H4.734a.7.7 0 0 0-.691.59L2.005 13.509a.42.42 0 0 0 .415.486h2.756l-.202 1.28a.628.628 0 0 0 .62.726H8.14c.429 0 .793-.31.862-.731l.025-.13.48-3.043.03-.164.001-.007a.351.351 0 0 1 .348-.297h.38c1.266 0 2.425-.256 3.345-.91.379-.27.712-.603.993-1.005a4.942 4.942 0 0 0 .88-2.195c.242-1.246.13-2.356-.57-3.154a2.687 2.687 0 0 0-.76-.59l-.094-.061ZM6.543 8.82a.695.695 0 0 1 .321-.079H8.3c2.82 0 5.027-1.144 5.672-4.456l.003-.016c.217.124.4.27.548.438.546.623.679 1.535.45 2.71-.272 1.397-.866 2.307-1.663 2.874-.802.57-1.842.815-3.043.815h-.38a.873.873 0 0 0-.863.734l-.03.164-.48 3.043-.024.13-.001.004a.352.352 0 0 1-.348.296H5.595a.106.106 0 0 1-.105-.123l.208-1.32.845-5.214Z" />
                                        </svg>
                                    </center>
                                    <h6 class="text-center text-dark mt-1">Pay Pal</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5 mt-3">
                <form>
                    <h4 class="text-dark ">Billing Address </h4>
                    <label class="h6">Full Name :</label><br />
                    <input type="text" class="form-control" /><br /><br />
                    <label class="h6">Address 1 :</label><br />
                    <input type="text" class="form-control" /><br /><br />
                    <label class="h6">Address 2 :</label><br />
                    <input type="text" class="form-control mb-3" />
                </form>
            </div>
            <div class="col-sm-5 mt-3">
                <form>
                    <h4 class="text-dark">Crredit Card Info</h4>
                    <label class="h6">Name On Card :</label>
                    <input type="text" class="form-control" /><br /><br />
                    <label class="h6"> Card Number:</label>
                    <input type="number" class="form-control" /><br /><br />
                    <label class="fw-bold fs-3">CVV Number :</label>
                    <label style="margin-left:90px" class="h6">Exp Month :</label>
                    <label style="margin-left:80px" class="h6">Exp Day :</label><br />
                    <input type="number" placeholder="CVV -" class="mt-1" />
                    <input type="month" class="mt-1" />
                    <input type="date" class="mt-1" />
                </form>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>

            <div class="col-sm-4 text-center">
                <button class="form-control fs-4 mb-2">ADD</button>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>

<div class=" container">
    <div class="card m-2">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 h2">Billing</div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-12 h4">Order History</div><br />
                <p>Lorem Ipsum is simply dummy text o text ever since the 1500s, </p>
            </div>

            <div class="row m-1">
                <div class="col-sm-4">Date</div>
                <div class="col-sm-4">Type</div>
                <div class="col-sm-4">Receipt</div>
            </div>

            <div class="row m-1">
                <div class="col-sm-4">Oct 21,2021</div>
                <div class="col-sm-4">pro Annual</div>
                <div class="col-sm-4"><button>Download</button></div>
            </div>
            <div class="row m-1">
                <div class="col-sm-4">Oct 21,2021</div>
                <div class="col-sm-4">pro Annual</div>
                <div class="col-sm-4"><button>Download</button></div>
            </div>
            <div class="row m-1">
                <div class="col-sm-4">Oct 21,2021</div>
                <div class="col-sm-4">pro Annual</div>
                <div class="col-sm-4"><button>Download</button></div>
            </div>
            <div class="row m-1">
                <div class="col-sm-4">Oct 21,2021</div>
                <div class="col-sm-4">pro Annual</div>
                <div class="col-sm-4"><button>Download</button></div>
            </div>
            <div class="row m-1">
                <div class="col-sm-4">Oct 21,2021</div>
                <div class="col-sm-4">pro Annual</div>
                <div class="col-sm-4"><button>Download</button></div>
            </div>
            <div class="row m-1">
                <div class="col-sm-4">Oct 21,2021</div>
                <div class="col-sm-4">pro Annual</div>
                <div class="col-sm-4"><button>Download</button></div>
            </div>
            <div class="row m-1">
                <div class="col-sm-4">Oct 21,2021</div>
                <div class="col-sm-4">pro Annual</div>
                <div class="col-sm-4"><button>Download</button></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ms-4">
                <a href="#">Learn More</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ms-3 mt-5">
                <div class="h2 ">Payment Methode</div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-1 me-5">
                    <div>
                        <img src="~/Content/Saller/Image/visa.png" height="100" width="80" />

                    </div>
                </div>
                <div class="col-sm-3 h5 mt-5">Vissa Ending IN 2255</div>
                <div class="col-sm-3"></div>
                <div class="col-sm-2"><button class="form-control mt-5">Remove</button></div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
</div>

