
@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/SallerMaster.cshtml";
}

<table class="table h-100 w-100 bg-black">
    <tr class="bg-danger text-white">
        <td>NAme</td>
        <td>Shope name</td>
        <td>Shope Category</td>
    </tr>
    <tr class="bg-info text-white">
        <td>NAme</td>
        <td>Shope name</td>
        <td>Shope Category</td>
    </tr>
</table>

