
@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/SallerMaster.cshtml";
}

<div class="row mt-4 mb-3">
    <div class="col-sm-2">
        <h2 class="ms-3">Orders</h2>
    </div>
    <div class="col-sm-6"></div>
    <div class="col-sm-4 ">
        <a class="btn btn-outline-dark mt-1" href="#">Export to Execl</a>
        <a class="btn btn-outline-dark mt-1" href="#">Import Order</a>
        <a class="btn btn-dark mt-1" href="#">+ New Order</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-6">
        <div class="border rounded border-3 border-opacity-75 border-dark " style="min-height:40px;">
            <div class="fs-2 p-1" style="background-color:red; min-height:40px"><i class="bi bi-search"></i></div>        
            <input type="search" class="form-control border border-0 mx-auto" />
        </div>
    </div>
    <div class="col-sm-6"></div>
</div>

<hr style="border-top:2px dashed black;" />