
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/SallerMaster.cshtml";
}


    <div class="row">
        <div class="col-sm-4 ">
            <img src="~/Content/Saller/Image/lap1.jpg" class="m-3" height="450" width="600" />
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <h2 class="m-3">LAPTOP PRO 2019</h2>
            <p class="h6">Lorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of theLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            <span class="h4">Select Color :</span><br /><br />
            <input type="button" value="Silver" />
            <input type="button" value="Space Grey" class=" ms-3" /><br /><br />
            <span class="h2">SELECT SPECIFICATION :</span>
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <div class="card mt-2 mx-3">
                        <div class="card-body">
                            <h5 class="card-title">13.3" 512GB</h5>
                            <p class=""> 512GB 2.4GHZ Quad Core 8GB RAm | 512 SSD"</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mt-2 mx-3">
                        <div class="card-body">
                            <h5 class="card-title">13.3" 512GB</h5>
                            <p class=""> 512GB 2.4GHZ Quad Core 8GB RAm | 512 SSD"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-sm-2">
                <div class="card ">
                    <div class="card-body">
                        <img src="~/Content/Saller/Image/lap4.jpeg" height="100" width="165" />
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <img src="~/Content/Saller/Image/lap4.jpeg" height="100" width="165" />
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card ">
                    <div class="card-body">
                        <img src="~/Content/Saller/Image/lap4.jpeg" height="100" width="165" />
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="card  ms-4 ">
                    <div class="card-body ">
                        <h5 class="card-title">13.3" 512GB</h5>
                        <p class=""> 512GB 2.4GHZ Quad Core 8GB RAm | 512 SSD"</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card  ms-4 ">
                    <div class="card-body">
                        <h5 class="card-title">13.3" 512GB</h5>
                        <p class=""> 512GB 2.4GHZ Quad Core 8GB RAm | 512 SSD"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


